<!DOCTYPE html>
<html lang="ch-cn">
<%- include("./public/head.ejs") %>
<body>
<%- include("./public/header.ejs") %>
<section class="main floatfix">
    <%- include("./public/aside.ejs") %>
    <section class="main-articles about">
        <h2>关于博客</h2>
        <p>关于庞春侨前端学习之路</p>
    </section>
</section>
<%- include("./public/footer.ejs") %>
</body>
</html>
