<!DOCTYPE html>
<html lang="ch-cn">
<%- include("./public/head.ejs") %>
<body>
<%- include("./public/header.ejs") %>
<section class="main floatfix">
    <%- include("./public/aside.ejs") %>
    <section class="main-articles friends">
        <h2>侨的友情链接</h2>
        <ul>
            <li><a href="https://github.com/pangcq699885">GitHub</a></li>
            <!--<li><a href="https://github.com">GitHub</a></li>
            <li><a href="https://github.com">GitHub</a></li>
            <li><a href="https://github.com">GitHub</a></li>
            <li><a href="https://github.com">GitHub</a></li>
            <li><a href="https://github.com">GitHub</a></li>-->
        </ul>
    </section>
</section>
<%- include("./public/footer.ejs") %>
</body>
</html>
