<head>
    <meta charset="UTF-8">
    <title>侨的个人博客</title>
    <meta http-equiv="x-ua-compatible" content="IE=Edge,chrome=1">
    <meta name="description" content="Node的个人博客，分享node.js技术,Node.js,Node的博客，Node.js技术">
    <meta name="keyword" content="Node,Node.js,Node的博客，Node.js技术">
    <link rel='stylesheet' href='/stylesheets/normalize.css'/>
    <link rel='stylesheet' href='/stylesheets/main.css'/>
    <link rel='stylesheet' href='/lib/editor/css/editormd.css'/>

    <script type='text/javascript' src='/lib/editor/jquery.min.js'></script>
    <script type='text/javascript' src="/lib/editor/lib/marked.min.js"></script>
    <script type='text/javascript' src="/lib/editor/lib/prettify.min.js"></script>

    <script type='text/javascript' src="/lib/editor/lib/raphael.min.js"></script>
    <script type='text/javascript' src="/lib/editor/lib/underscore.min.js"></script>
    <script type='text/javascript' src="/lib/editor/lib/sequence-diagram.min.js"></script>
    <script type='text/javascript' src="/lib/editor/lib/flowchart.min.js"></script>
    <script type='text/javascript' src="/lib/editor/lib/jquery.flowchart.min.js"></script>

    <script type='text/javascript' src='/lib/editor/editormd.js'></script>
</head>